@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Great+Vibes&family=Playfair+Display:wght@600&display=swap');

html
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', sans-serif ;
}

nav
{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-top: 5px solid rgb(0, 0, 114) ;
    border-bottom: 5px solid rgb(0, 0, 114) ;
}
nav img
{
    width: 8%;
    margin-bottom: 0px ;
    float: left;
    margin-right: 5px;
    margin-left: 0px;
}
nav h1
{
    color: #000;
    font-family: 'Great Vibes', sans-serif;
    font-size: 45px;
}
nav .onglets 
{
    margin-top: 3px;
    margin-left: 300px;
    margin-bottom: 5px;
} 

nav .onglets
{
    font-size: 20px;
}

nav .onglets a 
{
    text-decoration: none;
    margin-right: 10px;
    border-bottom: 2px solid;
    
}

header
{
display: flex;
flex-direction: column;
align-items: center;
background: url(./photos/background-header.jpg);
background-size:contain;
color: #fff;
padding: 40px;
border-bottom: 5px solid rgb(0, 0, 114) ;
}
header h2
{
    font-family: 'Great Vibes', sans-serif;
    font-size: 55px;
}
header p
{
    margin-top: -20px;
    font-family:'Courier Prime', sans-serif ;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-weight: 900;
}
header button
{
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  font-family: 'Courier Prime', sans-serif ;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

aside
{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
aside button
{
  display: inline-block;
  border-radius: 20px;
  background-color: #0e0b9caf;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
aside .button1 span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
aside .button1 span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
aside .button1:hover span 
{
  padding-right: 25px;
}
  
aside .button1:hover span:after 
{
  opacity: 1;
  right: 0;
}

aside .button2 span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
aside .button2 span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
    
aside .button2:hover span 
{
  padding-right: 25px;
}
    
aside .button2:hover span:after 
{
  opacity: 1;
  right: 0;
}

aside .button3 span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;  
}
aside .button3 span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
      
aside .button3:hover span 
{
  padding-right: 25px;
}
      
aside .button3:hover span:after 
{
  opacity: 1;
  right: 0;
}

aside .button4 span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;  
}
aside .button4 span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
        
aside .button4:hover span 
{
  padding-right: 25px;
}
        
aside .button4:hover span:after 
{
  opacity: 1;
  right: 0;
}

aside .button5 span 
{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
aside .button5 span:after 
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
  
aside .button5:hover span 
{
  padding-right: 25px;
}
  
aside .button5:hover span:after 
{
  opacity: 1;
  right: 0;
}


.main 
{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(./photos/backgroubd-main.jpg);
  background-size: contain;
  background-size: 50%;
  color: #fff;
  padding: 40px;
  border-top: 5px solid rgb(0, 0, 114) ;
  border-bottom: 5px solid rgb(0, 0, 114) ;

}
.main .content .principal
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}
.main .content .principal .left
{
    flex: 0 0 35%;
    padding: 20px;
    color: #fff;
}
.main .content .principal.right
{
    flex: 0 0 65%;
}
.main .content .principal .right img
{
    height: 300px;
    width: 400px;
    margin-top: 5px;
}

.main .content .principal .right video
{
    height: 300px;
    width: 400px;
    margin-top: 100px;
    margin-left: 50px;
}

#selectflavor 
{
    font-family: 'Courier Prime', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}
  
#selectflavor td, #selectflavor th 
{
    border: 1px solid rgba(66, 54, 172, 0.185);
    padding: 8px;
}
  
#selectflavor tr:nth-child(even)
{
    background-color: #f31212d3;
}
  
#selectflavor th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e04e7;
    color: white;
}


#selectflavor tr:nth-child(odd)
{
    background-color: #00000093;
}
#selectflavor tr:hover
{
    background-color: rgba(5, 48, 189, 0.712);
}

#hookah 
{
    font-family: 'Courier Prime', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}
  
#hookah td, #hookah th 
{
    border: 1px solid rgba(66, 54, 172, 0.185);
    padding: 8px;
}
  
#hookah tr:nth-child(even)
{
    background-color: #f31212d3;
}

  
#hookah th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e04e7;
    color: white;
}

#hookah tr:nth-child(odd)
{
    background-color: #00000093;
}

#hookah tr:hover
{
    background-color: rgba(5, 48, 189, 0.712);
}

#selectbowl 
{
    font-family: 'Courier Prime', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}
  
#selectbowl td, #selectbowl th 
{
    border: 1px solid rgba(66, 54, 172, 0.185);
    padding: 8px;
}
  
#selectbowl tr:nth-child(even)
{
    background-color: #f31212d3;
}
  
#selectbowl tr:hover
{
    background-color: rgba(204, 55, 10, 0.575);
}
  
#selectbowl th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e04e7;
    color: white;
}

#selectbowl tr:nth-child(odd)
{
    background-color: #00000093;
}

#selectbowl tr:hover
{
    background-color: rgba(5, 48, 189, 0.712);
}

#selectbase 
{
    font-family: 'Courier Prime', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}
  
#selectbase td, #selectbase th 
{
    border: 1px solid rgba(66, 54, 172, 0.185);
    padding: 8px;
}
  
#selectbase tr:nth-child(even)
{
    background-color: #f31212d3;
}

#selectbase tr:nth-child(odd)
{
    background-color: #000000;
}
#selectbase tr:nth-child(odd)
{
    background-color: #00000093;
}
  
#selectbase tr:hover
{
    background-color: rgba(5, 48, 189, 0.712);
}
  
#selectbase th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e04e7;
    color: white;
}

footer
{
    background-color: #000;
    color: #fff;
    padding: 30px 200px;
    margin-top: 20px;
    border-top: 5px solid rgb(0, 0, 114) ;
    border-bottom: 5px solid rgb(0, 0, 114) ;
}
footer button
{
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor:pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0704c99a;
    border: none;
    border-radius: 15px;
}
footer .button:hover
{
    background-color: #e70c0c83
}
footer .button:active
{
  background-color: #0d0fac6b;
  transform: translateY(4px);
}
footer h2
{
    font-family:'Courier Prime', sans-serif;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    width: 27%;
}
footer .services
{
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
}
footer .services .serv
{
   margin-right: 30px;
    padding: 10px;

}
footer .services .serv p
{
    max-width: 300px;
}
ul.list
{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
ul.list .type
{
    padding-bottom: 15px;
}
ul.list .cockt
{
    padding-bottom: 15px;
}
ul.list .crep
{
    padding-bottom: 15px;
}
ul.list .drink
{
  padding-bottom: 15px;
}
footer #contact
{
    color: blanchedalmond;
}
footer #contactemail
{
    color: blanchedalmond;
}

@media screen and (max-width:680px)
{
    nav img
    {
        height: 100px;
        width: 25%;
        margin: 0%;
    }
    nav .onglets
    {
        margin-left: 0px; 
        margin-bottom: 20px;
    }
    .main .principal
    {
        margin: 10px;
    }
    .main .content .principal .right img
    {
        height: 200px;
        width: 85%;
        margin-top: 0px;
        margin: 30px;
    }
    .main .content .principal
    {
        display: block;
    }
    .main .content .principal .left
    {
      display: block;
      margin: 50px;
    }
    footer
    {
        padding: 30px;
    }
}